 .box2{
    padding-bottom: 20px;
}
.todoscollection{
     padding-left: 580px;
     margin-top: -320px;
     color: white;
     font-size: large;
     font-weight: bold;
} 
.box2 input{
    color:white;
    background:none;
    border: 0px;
    border-bottom:1px solid white;
    border-top: 1px solid white;
    margin-right: 20px;
}
.box2 button{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(171, 187, 241);
    border-radius: 3px;
    border: 2px solid black;
    font-size: large;
    
}
.box2 span{
    margin-left: 10px;
}
